{% extends 'base.html' %}
{% block title %}RunCrunch - Login{% endblock %}
{% block content %}
<h1 class="text-center pt-3">Login</h1>
<div class="row justify-content-center" style="padding-top: 5rem">
  <form method="POST" class="form-group">
    {% csrf_token %}
    {% for field in form %}
      <div class="row">
        {{ field.label}}:
      </div>
      <div class="row mb-2">
        {{ field }}
      </div>
    {% endfor %}
    <input type="hidden" name="user" value="{{ response.user }}"></input>
    <div class="row mt-3">
      <button type="submit" class="btn btn-success btn-block">Login</button>
    </div>
  </form>
</div>

<div class="row" style="padding-bottom: 40vh"></div>
{% endblock %}