{% extends 'home.html' %}

{% block login %}
	<div class="modal d-block" data-show="true" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
		<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<div class="justify-content-start">
					<span class="text-lg">Change password</span>
				</div>
				<div class="justify-content-end">
					<a href="/">
						<span>×</span>
					</a>
				</div>
				</div>
			
				<div class="modal-body p-lg-0">
					
					<div class="card-body px-lg-5 py-lg-5">
					    {% if validlink %}
						<form method="post">
							  {% csrf_token %}
							  {{ form }}
							  <button class="btn btn-block btn-success" type="submit">Change password</button>
						</form>
						{% else %}
							<p>
							  The password reset link was invalid, possibly because it has already been used.
							  Please request a new password reset.
							</p>
						{% endif %}
					</div>
					
				</div>
			</div>
		</div>
	</div>
  
    
{% endblock %}