{% extends 'home.html' %}

{% block login %}
<div class="modal d-block" data-show="true" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
	<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<div class="justify-content-start">
				<span class="text-lg">Forgot password</span>
			</div>
			<div class="justify-content-end">
				<a href="/">
					<span>×</span>
				</a>
			</div>
			</div>
		
			<div class="modal-body p-lg-0">
				
				<div class="card-body">
				  <form method="post">
					{% csrf_token %}
					{{ form }}
					<button class="btn btn-success btn-block" type="submit">Submit</button>
				  </form>

				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}