{% extends 'home.html' %}

{% block login %}
<div class="modal d-block" data-show="true" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
	<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<div class="justify-content-start">
				<span class="text-lg">Complete</span>
			</div>
			
			<div class="justify-content-end">
				<a href="/">
					<span>×</span>
				</a>
			</div>
			</div>
		
			<div class="modal-body p-lg-0">
				
				<div class="card-body px-lg-5 py-lg-5">
					<div class="text-center text-muted mb-4">
						  <p>
							Your new password has been set. You may go ahead and <a href="/login">sign in</a> now.
						  </p>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}