{% load static %}

<div class="modal d-block" data-show="true" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
	<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header justify-content-end">
				<a href="/">
					<span>×</span>
				</a>
			</div>
		
			<div class="modal-body p-lg-0">

				<div class="card bg-secondary border-0 mb-0">
					<div class="card-header bg-transparent pb-5">
						<div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
							<a href="#" class="btn btn-neutral btn-icon">
								<span class="btn-inner--icon"><img src="{% static 'img/icons/common/google.svg' %}"></span>
								<span class="btn-inner--text">Google</span>
							</a>
					</div>							  
				</div>
				
				<div class="card-body px-lg-5 py-lg-5">
					<div class="text-center text-muted mb-4">
						<small>Or sign in with credentials</small>
					</div>
					<form method="POST" class="form-group">
						{% csrf_token %}
						{{ login_form }}
						<input type="hidden" name="user" value="{{ response.user }}"></input>
						<button type="submit" class="btn btn-success">Login</button>
					</form>
					
					<!--
					<form method="POST" class="form-group" action="{{ django.contrib.auth }}" role="form">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" name="username" placeholder="Username"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="password" placeholder="Password"/>
						</div>

						<p><small>Or, create an account <a href="/register">here</a></small></p>

						<input type="hidden" name="user" value="{{ response.user }}"></input>

						<button type="submit" class="btn btn-success">Login</button>
					</form> 
					-->
				</div>
			</div>
		</div>
	</div>
</div>
