{% load static %}

<!-- Sidenav -->
<div class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-default" id="sidebar">
<nav id="sidebar-nav">
  <div class="navbar-inner">
	<!-- Collapse -->
	<div class="collapse navbar-collapse" id="sidenav-collapse-main">
	  <!-- Nav items -->
	  <ul class="navbar-nav">
		<li class="nav-item">
		  <a class="nav-link" href="/{{ user }}/dashboard">
			<i class="ni ni-tv-2 text-primary"></i>
			<span class="nav-link-text">Dashboard</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="examples/icons.html">
			<i class="ni ni-planet text-orange"></i>
			<span class="nav-link-text">Trends</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="examples/map.html">
			<i class="ni ni-pin-3 text-primary"></i>
			<span class="nav-link-text">Heatmap</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="examples/profile.html">
			<i class="ni ni-single-02 text-yellow"></i>
			<span class="nav-link-text">Update Best Effort</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="examples/tables.html">
			<i class="ni ni-bullet-list-67 text-default"></i>
			<span class="nav-link-text">Upgrade</span>
		  </a>
		</li>
	  </ul>
	  <!-- Divider -->
	  <hr class="my-3">
	</div>
</div>
</nav>
</div>