{% extends 'base.html' %}

{% block title %}RunCrunch - My Account{% endblock %}

{% block content %}
<div class="row"></div>
<br>

<a href="#lifetime-totals" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="lifetime-totals">
    <div class="alert alert-default btn-default bg-gradient-warning stretched-link" role="alert" style="border:0px">
      <span class="alert-icon"><i class="ni ni-chart-bar-32"></i></span>
      <span class="alert-text"><strong>Lifetime Totals</strong></span>
    </div>
</a>

  <div id="lifetime-totals" class="row justify-content-md-center">
  <div class="col-auto">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Distance</h5>
            <span class="h2 font-weight-bold mb-0">{{ distance }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
            <i class="ni ni-square-pin"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-nowrap">{{ distanceFun }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
  <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Time</h5>
            <span class="h2 font-weight-bold mb-0">{{ time }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
              <i class="fa fa-clock-o"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-nowrap">{{ timeFun }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
  <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Elevation Gain</h5>
            <span class="h2 font-weight-bold mb-0">{{ elev }}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow">
            <i class="ni ni-image"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-nowrap">{{ elevFun }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Activities</h5>
              <span class="h2 font-weight-bold mb-0">{{ activityCount }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
              <i class="ni ni-trophy"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="alert alert-default btn-default bg-gradient-warning stretched-link" role="alert" style="border:0px">
  <span class="alert-icon"><i class="ni ni-watch-time"></i></span>
  <span class="alert-text"><strong>Current Best Effort:</strong></span>
  <span class="alert-text" style="padding-left:2%">
    {{ bestEffortTime }} for {{ bestEffortDistance }}m ({{ bestEffortKm }}km, {{ bestEffortMi}} mi)
  </span>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#set-pr">Update Best Effort</button>
    <div class="modal fade pl-9" id="set-pr" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Set a Recent Best Effort</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form method="post" class="form-group">
            {% csrf_token %}
            <span>Time:</span>
            <div class="input-group input-group-merge">
              {{ prForm.h }}
              <div class="input-group-prepend">
                <span class="input-group-text">:</span>
              </div>
              {{ prForm.m }}
              <div class="input-group-prepend">
                <span class="input-group-text">:</span>
              </div>
              {{ prForm.s }}
            </div>

            <span>Distance:</span>
            <div class="input-group">
              {{ prForm.distance }}
              <div class="input-group-append">
                {{ prForm.unit }}
                <!--<span class="input-group-text">meters</span>-->
              </div>
            </div>
            <div class="text-center text-muted mb-4">
              <span><small>Best effort information is used to calculate intensity metrics for your activities.</small></span>
            </div>	
            <div class="justify-content-center modal-footer">
              <button type="submit" name="pr_sub" class="btn btn-primary">Save changes</button>	
            </div>
            </form>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="alert alert-default btn-default bg-gradient-warning stretched-link" role="alert" style="border:0px">
  <span class="alert-icon"><i class="ni ni-ruler-pencil"></i></span>
  <span class="alert-text"><strong>Current Unit Preference:</strong></span>
  <span class="alert-text" style="padding-left:2%">
    {% if request.athlete.unitPreference == 'I' %} Imperial (miles, feet) {% else %} Metric (kilometers, meters) {% endif %}
  </span>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#set-unit">Change Unit Preference</button>
    <div class="modal fade pl-9" id="set-unit" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Change Unit Preference</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <form action="" method="POST" class="form-group">
          <div class="modal-body">
            {% csrf_token %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              {% for radio in unitPreference.metric %}
                <label 
                for="{{ radio.choice_label }}" 
                class="btn btn-secondary {% if request.athlete.unitPreference in radio.choice_label %} active {% endif %}"
                >
                  {{ radio.choice_label }}
                  {{ radio.tag }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="justify-content-center modal-footer">
            <button type="submit" name="unit_sub" class="btn btn-primary">Update Preference</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="dropdown-divider"></div>

<div class="row justify-content-md-center">
  <div class="col-auto">
    <button type="button" class="btn btn-lg btn-warning mb-3" data-toggle="modal" data-target="#import">Import Activities</button>
    <div class="modal fade pl-9" id="import" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Import Activities</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      
        <div class="modal-body">
          <p class="card-blockquote text-darker text-lg-center"><b>Importing your activities may take a few minutes, please be patient.</b></p> 
          <p class="small text-center">Note: Due to rate limits, a maximum of 5,000 activities will be imported.</a>.</p>
        </div>
        <div class="justify-content-center modal-footer">
          <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {{ importForm }}
            <button class="btn btn-block btn-primary" type="submit" name="import" class="btn btn-primary">Import</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-auto">
    <button type="button" class="btn btn-lg btn-warning mb-3" data-toggle="modal" data-target="#email">Set Recovery Email</button>
    <div class="modal fade pl-9" id="email" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Set Recovery Email</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}