{% extends 'base.html' %}

{% block title %}RunCrunch - My Account{% endblock %}

{% block content %}
<div class="row"></div>
<br>

{% include 'components/sectionHeader.html' with title='Account Totals' href='accountTotals' %}
  <div id="accountTotals" class="row justify-content-md-center">
    <div class="col-auto">
      {% include 'components/statCard.html' with title='Distance' value=accountStats.distance %}
    </div>
    <div class="col-auto">
      {% include 'components/statCard.html' with title='Time' value=accountStats.time %}
    </div>
    <div class="col-auto">
      {% include 'components/statCard.html' with title='Elevation' value=accountStats.elevation %}
    </div>
    <div class="col-auto">
      {% include 'components/statCard.html' with title='Activities' value=accountStats.count %}
    </div>
  </div>

{% include 'components/sectionHeader.html' with title='Current Best Effort' %}
<div class="row justify-content-md-center my-2">
  <span class="font-weight-bold">Current Best Effort: {{ request.athlete.getPrFriendly }}</span>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#set-pr">Update Best Effort</button>
    <div class="modal fade pl-9" id="set-pr" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Set a Recent Best Effort</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form method="post" class="form-group">
            {% csrf_token %}
            <span>Time (hours : mins : seconds):</span>
            <div class="input-group input-group-merge">
              {{ prForm.h }}
              <div class="input-group-prepend">
                <span class="input-group-text">:</span>
              </div>
              {{ prForm.m }}
              <div class="input-group-prepend">
                <span class="input-group-text">:</span>
              </div>
              {{ prForm.s }}
            </div>

            <span>Distance:</span>
            <div class="input-group">
              {{ prForm.distance }}
              <div class="input-group-append">
                {{ prForm.unit }}
                <!--<span class="input-group-text">meters</span>-->
              </div>
            </div>
            <div class="text-center text-muted mb-4">
              <span><small>Best effort information is used to calculate intensity metrics for your activities.</small></span>
            </div>	
            <div class="justify-content-center modal-footer">
              <button type="submit" name="prForm" class="btn btn-primary">Save changes</button>	
            </div>
            </form>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>

{% include 'components/sectionHeader.html' with title='Current Unit Preference' %}
<div class="row justify-content-md-center my-2">
  <span class="font-weight-bold">
    Current Preference: {% if request.athlete.unitPreference == 'I' %}Standard (miles, feet){% else %}Metric (kilometers, meters){% endif %}
  </span>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#set-unit">Change Unit Preference</button>
    <div class="modal fade pl-9" id="set-unit" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Change Unit Preference</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <form action="" method="POST" class="form-group">
          <div class="modal-body">
            {% csrf_token %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              {% for radio in unitPreference.metric %}
                <label 
                for="{{ radio.choice_label }}" 
                class="btn btn-secondary {% if request.athlete.unitPreference in radio.choice_label %} active {% endif %}"
                >
                  {{ radio.choice_label }}
                  {{ radio.tag }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="justify-content-center modal-footer">
            <button type="submit" name="unitPref" class="btn btn-primary">Update Preference</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="dropdown-divider"></div>

<div class="row justify-content-md-center">
  <div class="col-auto">
    <button type="button" class="btn btn-lg btn-warning mb-3" data-toggle="modal" data-target="#import">Import Activities</button>
    <div class="modal fade pl-9" id="import" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal- pl-9" role="document">
      <div class="modal-content" style="max-width:600px">
        
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Import Activities</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      
        <div class="modal-body">
          <p class="card-blockquote text-darker text-lg-center"><b>Importing your activities may take a few minutes, please be patient.</b></p> 
          <p class="small text-center">Note: Due to rate limits, a maximum of 5,000 activities will be imported.</a>.</p>
        </div>
        <div class="justify-content-center modal-footer">
          <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {{ importForm }}
            <button class="btn btn-block btn-primary" type="submit" name="import" class="btn btn-primary">Import</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}