{% extends 'base.html' %}

{% block title %}Connect with Strava{% endblock %}

{% load static %}

{% block content %}
	<div class="row"></div>
		
	<div class="col-auto">
		{% if success == False %}
		<div class="row justify-content-center">
		<span class="text-center card-blockquote"><b>There was an issue connecting your account. Check your Strava settings and revoke access to RunCrunch, then try again.</b></span>
		</div>
		{% else %}
		<div class="row justify-content-center">
			<p class="card-blockquote display-3 text-center"><b>Welcome to RunCrunch! Before you get started, please connect to Strava.</b></p>
		
		
			<p class="card-blockquote display-4 text-center"><b>Your runs will appear on your dashboard as you upload them to Strava.</b></p>
			<p class="card-blockquote small text-center"><b>If you wish to import historical data, please do so on your Account page.</b></p>
		</div>
		{% endif %}
	</div>
	
	<div class="row justify-content-center">
		<a href="{{ redirectUrl }}">
			<button type="button" class="btn btn-round" style="margin-top:0%;display:inline-block;background-color:#FC5200;color:#fff;font-size:16px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;text-align:center;background-repeat:no-repeat;background-position: 132px center;border-radius:3px;background-image:url('http://badges.strava.com/logo-strava-echelon.png');box-shadow: 0 0 6px 1px #fc5200;" width="10">
				<p style="margin-top:10%" class="font-weight-bold">Connect with <img src="http://badges.strava.com/logo-strava.png" alt="Strava" style="margin-left:20px;margin-top:0px;vertical-align:text-middle" height="16" width="60"></p>
			</button>
		</a>
	</div>
				
{% endblock %}