{% extends 'base.html' %}
{% load static %}

{% block title %}RunCrunch - Dashboard{% endblock %}

{% block header %}
<div class="container-fluid bg-primary">
  <div class="row align-items-center py-4">

    <!-- Datepicker -->
    <div class="col-lg-4">
      <div class="card card-stats card-info bg-default">
        <div class="card-body">
          <div class="row justify-content-md-center">
            <h2 class="display-2 text-white">Dashboard</h2>
          </div>
          <div class="row justify-content-md-center" style="margin-top: 5%; margin-bottom:0px;">
            <h4 class="display-5 text-white" style="margin-bottom: 0px">{{ dateForm.fromDate.data }} to {{ dateForm.toDate.data }}</h4>
          </div>
          <div class="row justify-content-md-center" style="margin-top: 10%">
            <div class="col-lg">
              <form action="" method="POST" class="form-group" style="margin-top: -10%">
                {% csrf_token %}
                <div class="input-group input-group-merge" style="margin-top:2%">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">From:</span>
                  </div>
                  {{ dateForm.fromDate }}
                </div>
                <div class="input-group input-group-merge" style="margin-top:2%">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">To:</span>
                  </div>
                  {{ dateForm.toDate }}
                </div>
                <button type="submit" name="customDateForm" class="btn btn-success" style="margin-top: 15px">Go</button></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Period Stats -->
    <div class="col-lg-8">
      <div class="row justify-content-md-center" style="margin-bottom:7%">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <ul class="nav" role="tablist">
            <li><label class="btn btn-warning active nav-item" id="lastSevenStats-tab" data-toggle="tab" href="#lastSevenStats" role="tab" aria-controls="tab" aria-selected="true">Last 7 Days</label></li>
            <!--
            <li><label class="btn btn-warning nav-item" id="month-tab" data-toggle="tab" href="#month" role="tab" aria-controls="tab" aria-selected="false">This Month</label></li>
            <li><label class="btn btn-warning nav-item" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="tab" aria-selected="false">This Year</label></li>
            -->
            <li><label class="btn btn-warning nav-item" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="tab" aria-selected="false">Selected Range</label></li>
          </ul>
        </div>
      </div>
      
      <!-- Last 7 -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="lastSevenStats" role="tabpanel" aria-labelledby="lastSevenStats-tab">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Distance' value=lastSevenStats.distance %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Time' value=lastSevenStats.time %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Avg Pace' value=lastSevenStats.pace %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Elevation' value=lastSevenStats.elevation %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Avg HR' value=lastSevenStats.heartrate %}
            </div>
          </div>
        </div>
      
        <!-- Custom View Range Stats -->
        <div class="tab-pane fade show" id="view" role="tabpanel" aria-labelledby="view-tab">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Distance' value=periodStats.distance %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Time' value=periodStats.time %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Avg Pace' value=periodStats.pace %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Elevation' value=periodStats.elevation %}
            </div>
            <div class="col-auto">
              {% include 'components/statCard.html' with title='Avg HR' value=periodStats.heartrate %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 

<div class="row"></div>
<br>
    
<div class="row justify-content-md-center">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <ul class="nav" role="tablist">
      {% include 'components/tabButton.html' with id='distanceTab' href='distanceChart' active='true' title='Distance' %}
      {% include 'components/tabButton.html' with id='timeTab' href='timeChart' title='Time' %}
      {% include 'components/tabButton.html' with id='elevationTab' href='elevationChart' title='Elevation' %}
      {% include 'components/tabButton.html' with id='scheduleTab' href='scheduleChart' title='Schedule' %}
    </ul>
  </div>
</div>

<div class="card card-stats">
  <div class="card-body">
    <div class="tab-content">
      <div id="distanceChart" class="tab-pane fade show active" role="tabpanel" aria-labelledby="distanceTab"></div>
      <div id="timeChart" class="tab-pane fade" role="tabpanel" aria-labelledby="timeTab"></div>
      <div id="elevationChart" class="tab-pane fade" role="tabpanel" aria-labelledby="elevationTab"></div>
      <div id="scheduleChart" class="tab-pane fade" role="tabpanel" aria-labelledby="scheduleTab"></div>
    </div>
  </div>
</div>


{% include 'components/sectionHeader.html' with title='Activity List' %}

<div class="row justify-content-md-center">
  <div class="col col-auto">
    <div class="card card-stats">
      <div class="card-body">
        <table id="dashboardTable" class="table table-hover table-striped table-responsive">
          <thead class="thead-dark">
            <th data-field="date">Date</th>
            <th data-field="name">Name</th>
            <th data-field="type">Type</th>
            <th data-field="distance">Distance</th>
            <th data-field="time">Time</th>
            <th data-field="pace">Pace</th>
            <th data-field="elevation">Elevation</th>
            <th data-field="avg_hr">Average<br>Heartrate</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="dropdown-divider"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  {% include 'js/renderGraph.js' %}
  {% include 'js/getDashboardTable.js' %}
  {% include 'js/getDashboardBarChart.js' %}

  getDashboardTable();

  getDashboardBarChart('distance');
  const timeTab = document.getElementById('timeTab')
  timeTab.addEventListener('click', () => {
    getDashboardBarChart('time');
  }, {'once': true});

  const elevationTab = document.getElementById('elevationTab')
  elevationTab.addEventListener('click', () => {
    getDashboardBarChart('elevation');
  }, {'once': true});
  
  const scheduleTab = document.getElementById('scheduleTab')
  scheduleTab.addEventListener('click', () => {
    getDashboardBarChart('schedule');
  }, {'once': true});
</script>
{% endblock %}