{% extends 'base.html' %}
{% load static %}

{% block title %}RunCrunch - Heatmap{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="row"></div>
<br>

{% include 'components/sectionHeader.html' with title='Heatmap' %}
{% include 'components/figCard.html' with figId='heatmap' %}

<script type="text/javascript">
  {% include 'js/renderGraph.js' %}
  {% include 'js/getHeatmap.js' %}
</script>
{% endblock %}