{% extends 'base.html' %}
{% load static %}

{% block title %}{{ activity.title }}{% endblock %}

{% block header %}
<div class="container-fluid bg-primary pt-4">
  <div class="row justify-content-md-center">
    {% if activity.hasStreams %}
    <div class="col col-auto">
      <div class="card card-stats" style="margin-right: -30%; width: 15rem; height: 12.2rem">
        <div class="card-body" style="padding:.25rem" id="mapThumbnail"></div>
      </div>
    </div>
    {% endif %}

    <div class="col">
      <div class="row justify-content-center">
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Distance' value=activity.distanceFriendly %}
        </div>
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Time' value=activity.timeFriendly %}
        </div>
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Pace' value=activity.paceFriendly %}
        </div>
        {% if activity.adjustedPaceFriendly %}
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Adj. Pace' value=activity.adjustedPaceFriendly %}
        </div>
        {% endif %}
      </div>
      <div class="row justify-content-center">
        {% if activity.elevationFriendly %}
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Elevation' value=activity.elevationFriendly %}
        </div>
        {% endif %}
        <div class="col-auto">
          {% include 'components/statCard.html' with title='Intensity' value=activity.intensity|safe|add:'% '|add:'('|add:activity.intensityFriendly|add:')' %}
        </div>
        {% if activity.averageHr %}
        <div class="col-auto">
          {% include 'components/statCard.html' with title='HR' value=activity.averageHr %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 

  <div class="row"></div>
  <br>
  
  {% include 'components/activityHelpbar.html' %}
  
  {% if activity.description %}
  {% include 'components/sectionHeader.html' with title='Description' href='description' %}
  {% include 'components/figCard.html' with id='description' body=activity.description|safe %}
  {% endif %}
      
  <div class="dropdown-divider"></div>
  
  <div class="row justify-content-md-center">	
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <ul class="nav" role="tablist">
        {% include 'components/tabButton.html' with id='mapsTab' href='mapsPane' active='true' title='Maps' %}
        {% include 'components/tabButton.html' with id='profilesTab' href='profilePane' title='Profiles' %}
        {% include 'components/tabButton.html' with id='lapsTab' href='lapsPane' title='Laps' %}
        {% include 'components/tabButton.html' with id='zonesTab' href='zonesPane' title='Zones' %}
      </ul>
    </div>
  </div>
  
  <div class="tab-content">
    <div id="mapsPane" class="tab-pane fade show active" role="tabpanel" aria-labelledby="mapsTab">

      {% include 'components/sectionHeader.html' with title='Map' href='map' %}
      {% include 'components/figCard.html' with id='map' figId='annotatedMap' %}

      {% include 'components/sectionHeader.html' with title='3D Model' href='3d' %}
      {% include 'components/figCard.html' with id='3d' figId='3DModelGraph' %}
    </div>
    
    <div id="profilePane" class="tab-pane fade" role="tabpanel" aria-labelledby="profilesTab">
      {% include 'components/sectionHeader.html' with title='Profile' href='profile' %}
      {% include 'components/figCard.html' with id='profile' figId='paceElevGraph' %}
    </div>
    
    <div id="lapsPane" class="tab-pane fade" role="tabpanel" aria-labelledby="lapsTab">

      {% include 'components/sectionHeader.html' with title='Auto Laps' href='autoLaps' %}
      
      <div id="autoLaps">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="card card-stats">
              <div class="card-body" id='lapsBarChartAuto'></div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="table">
                  <table id="auto_lap_table" class="table table-hover table-dark table-striped table-borderless">
                    <thead class="thead-dark">
                      <th data-field="lap"><b>Lap</b></th>
                      <th data-field="distance"><b>Dist</b></th>
                      <th data-field="Time"><b>Time</b></th>
                      <th data-field="pace"><b>Pace</b></th>
                      <th data-field="gap"><b>Adj. Pace</b></th>
                      <th data-field="hr"><b>HR</b></th>
                      <th data-field="intensity"><b>Intensity</b></th>
                      <th data-field="gain"><b>Total<br>Gain</b></th>
                      <th data-field="elev_change"><b>Elev<br>Change</b></th>
                      <th data-field="min_elev"><b>Min<br>Elev</b></th>
                      <th data-field="max_elev"><b>Max<br>Elev</b></th>
                      <th data-field="avg_grade"><b>Avg<br>Grade</b></th>
                    </thead>
                    {{ autoLapsTable | safe}}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'components/sectionHeader.html' with title='Device Laps' href='deviceLaps' %}

      <div id="deviceLaps">
        <div class="row justify-content-md-center">
          <div class="col-6">
            <div class="card card-stats">
              <div class="card-body" id="lapsBarChartDevice"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="table">
                  <table id="auto_lap_table" class="table table-hover table-dark table-striped table-borderless">
                    <thead class="thead-dark">
                      <th data-field="lap"><b>Lap</b></th>
                      <th data-field="distance"><b>Dist</b></th>
                      <th data-field="Time"><b>Time</b></th>
                      <th data-field="pace"><b>Pace</b></th>
                      <th data-field="gap"><b>Adj. Pace</b></th>
                      <th data-field="hr"><b>HR</b></th>
                      <th data-field="intensity"><b>Intensity</b></th>
                      <th data-field="gain"><b>Total<br>Gain</b></th>
                      <th data-field="elev_change"><b>Elev<br>Change</b></th>
                      <th data-field="min_elev"><b>Min<br>Elev</b></th>
                      <th data-field="max_elev"><b>Max<br>Elev</b></th>
                      <th data-field="avg_grade"><b>Avg<br>Grade</b></th>
                    </thead>
                    {{ deviceLapsTable | safe}}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="zonesPane" class="tab-pane fade" role="tabpanel" aria-labelledby="zonesTab">
      {% include 'components/sectionHeader.html' with title='Pace Zones' href='paceZones' %}
      {% include 'components/figCard.html' with id='paceZones' figId='paceZonesGraph' %}
      
      {% include 'components/sectionHeader.html' with title='Grade Zones' href='gradeZones' %}
      {% include 'components/figCard.html' with id='gradeZones' figId='gradeZonesGraph' %}
    </div>
  </div>
  
<div class="dropdown-divider"></div>
{% endblock %}

{# Graph Callers #}
{% block scripts %}
  {% if activity.hasStreams %}
  <script type="text/javascript">
    const activityJson = JSON.stringify({{ activityJson | safe }});
    {% include 'js/getGraph.js' %}

    {# Render mini map, main map, 3D model initially #}
    {% if activity.latStream %}
      getGraph('mapThumbnail');
      getGraph('annotatedMap');
    {% endif %}
    {% if activity.elevationStream and activity.latStream %}
      getGraph('3DModelGraph');
    {% endif %}

    const profilesTab = document.getElementById('profilesTab')
    profilesTab.addEventListener('click', () => {
      getGraph('paceElevGraph');
    }, {'once': true});

    const lapsTab = document.getElementById('lapsTab')
    lapsTab.addEventListener('click', () => {
      getGraph('lapsBarChartAuto');
      getGraph('lapsBarChartDevice');
    }, {'once': true});

    const zonesTab = document.getElementById('zonesTab')
    zonesTab.addEventListener('click', () => {
      {% if activity.gradeStream %}
      getGraph('gradeZonesGraph');
      {% endif %}
      {% if activity.paceStream %}
      getGraph('paceZonesGraph');
      {% endif %}
    }, {'once': true});
  {% endif %}
{% endblock %}