{% extends 'home.html' %}
{% load static %}

{% block login %}

<div class="modal d-block" data-show="true" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
	<div class="modal-dialog modal- modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<div class="justify-content-start">
				<span class="text-lg">Login</span>
			</div>
			
			<div class="justify-content-end">
				<a href="/">
					<span>×</span>
				</a>
			</div>
			</div>
		
			<div class="modal-body p-lg-0">								
        <form method="post" class="form-group px-3">
          {% csrf_token %}
          {{ form }}
          <div class="row">
            <div class="col">
              <small><a href="/password_reset">Forgot password?</a></small>
            </div>
            <div class="col">
              <input type="hidden" name="user" value="{{ response.user }}"></input>
            </div>
          </div>
    
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      
        <div class="text-center text-muted mb-4">
          <small>Or, <a href="/register">create an account.</a></small>
        </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


