<div class="col-lg">
  <form action="" method="POST" class="form-group" style="margin-top: -10%">
    {% csrf_token %}
    <div class="input-group input-group-merge" style="margin-top:2%">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">From:</span>
      </div>
      {{ dateForm.fromDate }}
    </div>
    <div class="input-group input-group-merge" style="margin-top:2%">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">To:</span>
      </div>
      {{ dateForm.toDate }}
    </div>	
    <input name="metric" id="metric" type="hidden" value="{{ selected_metric }}" />
    <button type="submit" name="customDateForm" class="btn btn-success" style="margin-top: 15px">Go</button></button>
  </form>
</div>