<!-- Header -->
<!-- Header -->
<div class="header bg-primary pt-4">
  <div class="container-fluid">
	<div class="header-body">
	  <div class="container-fluid">
	  <div class="row justify-content-md-center">
      {% if activity.hasStreams %}
		  <div class="col col-auto">
        <div class="card card-stats" style="margin-right: -30%; width: 15rem; height: 12.2rem">
          <div class="card-body" style="padding:.25rem" id="mapThumbnail"></div>
        </div>
		  </div>
		  {% endif %}
	  
	<div class="col">  
	  <div class="row justify-content-md-center">
		<div class="col col-auto">
		  <div class="card card-stats">
			<div class="card-body">
			  <div class="row justify-content-md-center">
				<div class="col-auto">
				  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow" style="margin-right: 10px;">
					<i class="ni ni-square-pin"></i>
				  </div>
				  </div>
				<div class="col-sm">
				  <h5 class="card-title text-uppercase text-muted mb-0">Distance</h5>
				  <span class="h2 font-weight-bold mb-0" >{{ activity.distanceFriendly }}</span>
				</div>
				</div>
			  </div>
			</div>
		</div>
		<div class="col col-auto">
		  <div class="card card-stats">
			<!-- Card body -->
			<div class="card-body">
			  <div class="row justify-content-md-center">
				<div class="col-auto">
				  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow" style="margin-right: 10px;">
					<i class="fa fa-clock-o"></i>
				  </div>
				</div>
				<div class="col-sm">
				  <h5 class="card-title text-uppercase text-muted mb-0">Time</h5>
				  <span class="h2 font-weight-bold mb-0" >{{ activity.timeFriendly }}</span>
				</div>
			  </div>
			  <span></span>
			</div>
		  </div>
		</div>
		<div class="col col-auto">
		  <div class="card card-stats">
			<!-- Card body -->
			<div class="card-body">
			  <div class="row justify-content-md-center">
			  	<div class="col-auto">
				  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow" style="margin-right: 10px;">
					<i class="ni ni-user-run"></i>
				  </div>
				</div>
				<div class="col-sm">
				  <h5 class="card-title text-uppercase text-muted mb-0">Pace</h5>
				  <span class="h2 font-weight-bold mb-0" >{{ activity.paceFriendly }}</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col col-auto">
		  <div class="card card-stats">
			<!-- Card body -->
			<div class="card-body">
			  <div class="row justify-content-md-center">
				<div class="col-auto">
				  <div class="icon icon-shape bg-gradient-cyan text-white rounded-circle shadow" style="margin-right: 10px;">
					<i class="ni ni-image"></i>
				  </div>
				</div>
				<div class="col-sm">
				  <h5 class="card-title text-uppercase text-muted mb-0">Climbing</h5>
				  <span class="h2 font-weight-bold mb-0" >{{ activity.elevationFriendly }}</span>
				</div>
			  </div>
			  <span></span>
			</div>
		  </div>
		</div>

</div>
<div class="row justify-content-md-center">
			<div class="col col-auto">
			  <div class="card card-stats">
				<!-- Card body -->
				<div class="card-body">
				  <div class="row justify-content-md-center">
					<div class="col-auto">
					  <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow" style="margin-right: 10px;">
						<i class="ni ni-user-run"></i>
					  </div>
					</div>
					<div class="col-auto">
					  <h5 class="card-title text-uppercase text-muted mb-0">Adj. Pace</h5>
					  <span class="h2 font-weight-bold mb-0" >{{ activity.adjustedPaceFriendly }}</span>
					</div>
				  </div>
				  <span></span>
				</div>
		  </div>
		</div>
		<div class="col col-sm-5">
			<div class="card card-stats">
			<!-- Card body -->
			<div class="card-body">
			  <div class="row justify-content-md-center">
				<div class="col-auto">
				  <div class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow">
					<i class="ni ni-sound-wave"></i>
				  </div>
				</div>
				<div class="col-auto">
				  <div class="row">
				  <div class="col-auto">
				  <h5 class="card-title text-uppercase text-muted mb-0">Intensity</h5>
				  </div>
				</div>
				<div class="row justify-content-md-center">
				  <div class="col-sm">
				  <span class="h3 font-weight-bold mb-0">{{ activity.intensity }}% - {{ activity.intensityFriendly }}</span>
				  </div>
				  </div>
				</div>
				</div>

			  <span></span>
			</div>
		  </div>
	</div>
	  <div class="col col-auto">
			  <div class="card card-stats">
				<!-- Card body -->
				<div class="card-body">
				  <div class="row justify-content-md-center">
					<div class="col-auto">
					  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow" style="margin-right: 10px;">
						<i class="ni ni-favourite-28"></i>
					  </div>
					</div>
					<div class="col-auto">
					  <h5 class="card-title text-uppercase text-muted mb-0">Avg Heartrate</h5>
					  <span class="h2 font-weight-bold mb-0" >{{ activity.averageHr }}</span>
					</div>
				  </div>
				  <span></span>
				</div>
		  </div>
		</div>
	  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>