<thead class="thead-dark">
  <th data-field="lap"><b>Lap</b></th>
  <th data-field="distance"><b>Dist</b></th>
  <th data-field="Time"><b>Time</b></th>
  <th data-field="pace"><b>Pace</b></th>
  {% if 'adjustedPaceStream' in activity.toJson and activity.isAmbulatory %}
    <th data-field="gap"><b>Adj. Pace</b></th>
  {% endif %}
  {% if not '"hrStream": null' in activity.toJson %}
    <th data-field="hr"><b>HR</b></th>
  {% endif %}
  {% if activity.isAmbulatory %}
  <th data-field="intensity"><b>Intensity</b></th>
  {% endif %}
  <th data-field="gain"><b>Total<br>Gain</b></th>
  <th data-field="elev_change"><b>Elev<br>Change</b></th>
  <th data-field="min_elev"><b>Min<br>Elev</b></th>
  <th data-field="max_elev"><b>Max<br>Elev</b></th>
  <th data-field="avg_grade"><b>Avg<br>Grade</b></th>
</thead>
